{% extends "base.html" %}

{% block content %}
{% if latest_quiz_list %}
	<ul>
	{% for quiz in latest_quiz_list %}
		<li><a href="{% url 'quizzes:detail' quiz.id %}">{{ quiz.title }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No quizzes are available.</p>
{% endif %}
{% endblock %}