<h1>{{ question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'quizzes:respond' question.id %}" method="post">
{% csrf_token %} <!-- to prevent cross site request forgeries -->
{% for answer in question.answer_set.all %}
    <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}" />
    <label for="answer{{ forloop.counter }}">{{ answer }}</label><br />
{% endfor %}
<input type="submit" value="Submit" />
</form>