<h1>{{ response.question }}</h1>

{% if response.answer.is_correct %}
	<p><strong>Correct!</strong></p>
{% else %}
	<p><strong>Wrong!</strong></p>
{% endif %}

<p>You receive a score of {{ response.answer.score_as_percentage }} </p>
{# <p><a href="{% url 'quizzes:question' response.question.id %}">Try again?</a></p> #}
