{% extends "presentations/base_presentations.html" %}

{% block content %}
{% if presentation_list %}
	<ul>
	{% for presentation in presentation_list %}
		<li><a href="{% url 'presentations:show' presentation.id %}">{{ presentation.title }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No presentations are available.</p>
{% endif %}
{% endblock %}