{% extends "presentations/base_presentations.html" %}

{% load staticfiles %}

{% block css %} {{ block.super }}
	<link rel="stylesheet" href="{% static 'presentations/css/deck.core.css' %}">
	<link rel="stylesheet" href="{% static 'presentations/css/web-2.0.css' %}">
	<link rel="stylesheet" href="{% static 'presentations/css/horizontal-slide.css' %}">
	<link rel="stylesheet" href="{% static 'presentations/css/deck.scale.css' %}">
	<link rel="stylesheet" href="{% static 'presentations/css/presentation-styles.css' %}">
	<link rel="stylesheet" href="{% static 'presentations/skin/jplayer.blue.monday.css' %}">
{% endblock css %}

{% block js %} {{ block.super }}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{% static 'presentations/js/modernizr.custom.js' %}"></script>
	<script src="{% static 'presentations/js/deck.core.js' %}"></script>
	<script src="{% static 'presentations/js/deck.automatic.js' %}"></script>
	<script src="{% static 'presentations/js/deck.scale.js' %}"></script>
	<script src="{% static 'presentations/js/jquery.jplayer.min.js' %}"></script>
{% endblock js %}

{% block content %}

{% if presentation %}
{% autoescape off %}
<div id="slideshow">
  <div class="deck-container deck-scale">
  <section class ="slide" id="presentation_title">
  	<h2>{{ presentation }}</h2>
  </section>
  {% for slide in presentation.slide_set.all %}
  	<section class="slide" id="slide{{ forloop.counter }}">
  		<h2 id="slideheadline{{ forloop.counter }}">{{ slide.title|title }}</h2>
  			{% for slidesegment in slide.slidesegment_set.all %}
  			<div class="slide" id="slide{{forloop.parentloop.counter}}segment{{forloop.counter}}" data-duration="{{slidesegment.duration}}">{{ slidesegment.content|removetags:"p" }}</div>
  			{% endfor %}
  	</section>
  {% endfor %}
  </div>
</div> 
{% endautoescape %}

<div id="mediaplayer">
<!-- Begin Jplayer code --> 
  <div id="jquery_jplayer_1" class="jp-jplayer"></div>
  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
          <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
          <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
          <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
          <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
          <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
          <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
        </ul>
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
          <ul class="jp-toggles">
            <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
            <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
          </ul>
        </div>
      </div>
 <!-- <div class="jp-title">
        <ul>
          <li>Bubble</li>
        </ul>
      </div> -->
      <div class="jp-no-solution">
        <span>Update Required</span>
        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div>
    </div>
  </div>
  <!-- End Jplayer code --> 
</div>

{% else %}
	<p>No slides are available.</p>
{% endif %}

{% endblock content %}

{% block bottomjs %} {{ block.super }}
<script>
$(function() {
 	$.extend(true, $.deck.defaults, {
 		classes: {
	    	scale: 'deck-scale'
	   	},

	   	keys: {
	    	scale: 83 // s
		},

		baseHeight: null,
		scaleDebounce: 200,
	});
	$.extend(true, $.deck.defaults, {
		automatic: {
    		startRunning: false,
    		cycle: false,
    		slideDuration: 1000,
		},
	});
	$.deck('.slide');
});

$("#container_button").click(function() {
	$.deck('play');
});
</script>

<!-- Begin JPlayer Code -->
<script type="text/javascript">
    $(document).ready(function(){
      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            mp3: "{{ presentation.audio.url }}"
          });
        },
        swfPath: "{% static 'presentations/other/' %}js",
        supplied: "mp3"
      });
      // on audio play, start slideshow
      $("#jquery_jplayer_1").bind($.jPlayer.event.play, function() {
        $.deck('play')
      });
       // on audio play, start slideshow
      $("#jquery_jplayer_1").bind($.jPlayer.event.pause, function() {
        $.deck('pause')
      });
    });
  </script>
  <!-- End JPlayer Code -->
{% endblock bottomjs %}