<!DOCTYPE html>
{% load sitetree %}
{% load staticfiles %}
<head>
{% block css %}
	<link rel="stylesheet" href="{% static 'site/css/responsive-nav.css' %}">
{% endblock css %}
{% block js %}
	<script src="{% static 'site/js/responsive-nav.min.js' %}"></script>
{% endblock js %}	
	<title>{% block pagetitle %} IELTS on a Bike {% endblock pagetitle %}</title>
</head>

<body>
{% block nav %}	
	<div id="nav">
		{% sitetree_menu from "maintree" include "trunk,topmenu" %}
	</div>
{% endblock nav %}

{% block content %} {% endblock content%}

{% block bottomjs %}
<script>
  var navigation = responsiveNav("#nav");
</script>
{% endblock bottomjs %}
</body>
</html>